.page-wrap {max-width: 1400px; margin: auto;}
.page-wrap h2 {margin: 0 0 20px;}
.page-wrap ul.info {margin: 0 0 20px; padding: 0 0 10px 20px; border-bottom: 2px solid #EAEAEA;}
.page-wrap ul.info > li {margin: 0 0 10px;}
ul.division-inputs, ul.division-inputs > li > ul {list-style: none; padding: 0;}
ul.division-inputs {
    -webkit-flex-flow: row;
    justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: center;	
}
ul.division-inputs > li > ul > li {margin: 0 0 10px;}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.page-wrap hr {border: 0; border-top: 2px solid #EAEAEA; margin: 20px 0;}
#leagueSchedules > ul {list-style: none; padding: 20px 0 0; border-top: 2px solid #EAEAEA;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    -ms-flex-pack: justify;
}
#leagueSchedules > ul > li {width: 33%; margin: 0 0 20px;}
#leagueSchedules > ul > li:last-child {width: 67%;}
#leagueSchedules table {width: 300px; border: 1px solid;} 
#leagueSchedules table th {padding: 5px 0; background: #004989; color: #FFF;}
#leagueSchedules table td {text-align: center; border-top: 1px solid; padding: 5px 0;}
#leagueSchedules table tbody > tr:nth-child(odd) {background: #FFFF99;}
@media screen and (max-width: 1028px) {
	#leagueSchedules > ul > li {width: 50%; margin: 0 0 20px;}
	#leagueSchedules > ul > li:last-child {width: 50%;}
}
@media screen and (max-width: 600px) {
	body {
		padding: 0 4%;
	}
	#leagueSchedules h2, ul.division-inputs {text-align: center;}
	#leagueSchedules table {margin: auto;}
	#leagueSchedules > ul > li, #leagueSchedules > ul > li:last-child  {
		width: 100%;
	}
	ul.division-inputs {
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-pack: justify;
	}	
	ul.division-inputs > li {
		width: 100%;
	}
	#createSchedule {
		display: table;
		margin: auto;
	}	
}
